<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trigues.com.trueke">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".dependencyinjection.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_k"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.impl.SplashActivityImpl"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".view.impl.LoginActivityImpl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.impl.UserProductsListActivityImpl"
            android:label="Mis productos">
        </activity>

        <activity android:name=".view.impl.UserProductDetailsActivityImpl"/>

        <activity android:name=".view.impl.AddProductActivityImpl"/>

        <activity
            android:name=".view.impl.UserProfileActivityImpl"
            android:label="Mi cuenta">

        </activity>

        <activity android:name=".view.impl.MatchmakingActivityImpl"/>

    </application>

</manifest>