<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trigues.com.trueke">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>


    <application
        android:name=".dependencyinjection.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_k"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.impl.SplashActivityImpl"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.impl.LoginActivityImpl" android:theme="@style/LoginTheme">

        </activity>

        <activity android:name=".view.impl.ChatListActivityImpl" android:label="Mensajes">

        </activity>

        <activity android:name=".view.impl.UserProductsListActivityImpl"
            android:label="Mis productos">
        </activity>

        <activity android:name=".view.impl.UserProductDetailsActivityImpl"/>

        <activity android:name=".view.impl.AddProductActivityImpl">
        </activity>

        <activity
            android:name=".view.impl.UserProfileActivityImpl"
            android:label="Mi cuenta">

        </activity>

        <activity android:name=".view.impl.MatchmakingActivityImpl"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <service android:name=".service.ChatService"
            android:enabled="true"/>

    </application>

</manifest>